* {
    margin: 0;
    padding: 0;
    /* Font */
    font-family: "Outfit", sans-serif;
}

.Background {

 /* Background */
 background: url('Background.jpg') center center / cover no-repeat;

}

.LoadingBar {

    animation: LoadingBar 1s ease-in-out 0s 1 normal;

    /* Position */
    position: absolute;
}

@keyframes LoadingBar {

    from {

        height: 3px;
        width: 0%;
        background-color: rgb(183, 218, 236);
    }

    to {

        height: 3px;
        width: 100%;
        background-color: rgb(183, 218, 236) ;
    }

}

.dropdown {
    
    /* Position */
    display: flex;
    justify-content: center;

    /* Reset list styles */
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .dropdown li {

    /* Spacing */
    top: 20px;
    padding: 20px;
    margin: 0px;
    color: rgb(238, 238, 238);
  
    /* Used to position the sub dropdown */
    position: relative;

  }
  
  /* The sub dropdown */
  .dropdown ul {
  
    /* Hidden by default */
    display: none;
  
    /* Absolute position */
    left: 0;
    top: 100%;
    position: absolute;
  
    /* Reset styles */
    list-style-type: none;
    margin: 0;
    padding: 0;
  
    /* Width */
    width: 200px;
  }
  
  /* The second level sub dropdown */
  .dropdown ul ul {

    left: 100%;
    position: absolute;
    top: 0;
  }
  
  /* Change background color of list item when being hovered */
  .dropdown li:hover { 
  
    background-color:rgba(0, 0, 0, 0.1);
    border-radius: 25px;
  }
  
  /* Show the direct sub dropdown when hovering the list item */
  .dropdown li:hover > ul {
  
    display: block;
  
  }

  /* Links in style */

  a:link {

    color: rgb(238, 238, 238);

    /* Removing underline */
    text-decoration: none;
  }
  
  a:visited {
    color: rgb(238, 238, 238);
  }
  
  a:hover {
    color: rgb(238, 238, 238);
  }
  
  a:active {
    color: rgb(238, 238, 238);
  }
  

.text {
  
/* Center the content */
align-items: center;
display: flex;
flex-direction: column;
justify-content: center;

/* Take full size */
height: 100vh;
width: 100%;
color : rgb(0, 75, 119);

}

h1 {

    /* Exact Position of h1 */
    position: relative;
    top: 5%;
}

span::before {

/* Animation */
content: "Student";
animation: animate infinite 5s;
padding-left: 10px;
}

@keyframes animate {

    /* Changing text and thier duration */
25% {
  content: "Student";
}

50% {
  content: "Coder";
}

75% {
  content: "Learner";
}

}

.icons {

  /* Icons Position */
  display:flex;
  justify-content: center;

 }

img {
  
  /* Size */
  border-radius: 50%;
  height: 28px;
  
  /* Spacing */
  padding: 10px;

}

img:hover{

  /* Icon image hover */
  background-color: rgba(0, 0, 0, 0.1);
  height: 26px;
  
}

.copyright {

  /* Background */
    height: 65px;
    width: 100%;
    background-color: rgb(142, 202, 231);

    /* Text */
    color: rgb(0, 75, 119);
    
    /* Text Position */
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}



/* Contact and About Layout*/



.background {

  /* Background */
  height: 100vh;
  background-color: rgb(142, 202, 231);

}

.LoadingBar {

  animation: LoadingBar 1s ease-in-out 0s 1 normal;

  /* Position */
  position: absolute;
}

@keyframes LoadingBar {

  from {

      height: 3px;
      width: 0%;
      background-color: rgb(183, 218, 236);
  }

  to {

      height: 3px;
      width: 100%;
      background-color: rgb(183, 218, 236);
  }

}

h1 {

  /* Position */
  top: 12%;
  display: flex;
  justify-content: center;

  /* color */
  color:rgb(0, 75, 119);
}

.line {

  position: relative;
  top: 0%;
  height: 3px;
  background-color:rgb(0, 75, 119) ;
}

.info {

  /* Position */
  position: relative;
  top: 22%;
  display: flex;
  justify-content: center;
  text-align: center;

  /* color */
  color:rgb(0, 75, 119);
}

.copyright_about{

  /* Background */
    height: 65px;
    width: 100%;
    background-color:rgb(0, 75, 119) ;

    /* Position */
    position:absolute;
    bottom: 0%;

    /* Text */
    color:rgb(142, 202, 231);
    
    /* Text Position */
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.copyright_contact{

  /* Background */
    height: 65px;
    width: 100%;
    background-color:rgb(0, 75, 119) ;

    /* Position */
    position:absolute;
    bottom: 0%;

    /* Text */
    color:rgb(142, 202, 231);
    
    /* Text Position */
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}